# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
llmenv/
venv/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Ollama (optional)
# =========================
.ollama/

# =========================
# Cache / Build
# =========================
.cache/
build/
dist/